{% extends 'layout.html' %}

{% block body %}
  <div class="jumbotron text-center">
      <h1>Contact Us</h1>
      <p class="lead">
        Please let us know any questions, concerns, bug reports,
        or suggested features you may have with regards to BillDueDate.
      </p>
      <!-- <h3><a href="mailto:Michael@BillDueDate.com">Michael@BillDueDate.com</a></h3> -->
      <h3><a onClick="javascript:window.open('mailto:Michael@BillDueDate.com', 'Mail');
        event.preventDefault()" href="mailto:Michael@BillDueDate.com">Michael@BillDueDate.com</a></h3>
  </div>
{% endblock %}
