<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Ensure proper rendering/zooming for mobile -->
  	<title>BillDueDate</title>
  	<meta name="description" content="BillDueDate">
  	<meta name="author" content="Michael Harris">
    <link rel="shortcut icon" href="#">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/custom.css">
  </head>

  <body>
    {% include 'includes/_navbar.html' %}
    <div class="container">
      {% include 'includes/_messages.html' %}
      {% block body %}{% endblock %}

      <hr>
      <footer class="footer">
        <p>&copy; BillDueDate 2019</p>
      </footer>

      <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
      <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
      <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
      <script src="static/js/getBankInfo.js"></script>
      <script src="static/js/saveCheckboxes.js"></script>
      <!-- <script src="static/js/dynamicTable.js"></script> -->
      <script src="static/js/expandTable.js"></script>
    </div>

  </body>

</html>
