/* .table-striped>tbody>tr:nth-child(1n+2)>td,
.table-striped>tbody>tr:nth-child(1n+2)>th {
   background-color: grey; // Choose your own color here
 } */

 tr:nth-child(4n+1) {
    background-color: grey; // Choose your own color here
  }
