<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container">
    <div class="navbar-header">
      <li class="nav-item" role="presentation">
        <a class="navbar-brand" href="#">BillDueDate</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" href="showLogIn">Log In</a><!-- Use a # in href so we don't get a 404 page -->
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" href="showSignUp">Sign Up</a>
      </li>
    </div>
  </div>
</nav>
