{% extends 'layout.html' %}

{% block body %}

	<section>
		<form class="form-group row" action="/addBill" method="POST">
			<fieldset>
				<!-- Form Name -->
				<legend>Add Your Bill</legend>

				<!-- Bill Name -->
				<div class="form-group row">
					<label class="col-md-4 col-form-label req" for="bill_name">Name:</label>
					<div class="col-xl">
						<input class="form-control" name="bill_name" id="bill_name" type="text" placeholder="(ex: AT&T)" required autofocus>
					</div>
				</div>

				<!-- Bill Description -->
				<div class="form-group row">
					<label class="col-md-4 col-form-label" for="bill_description">Description:</label>
					<div class="col-xl">
						<textarea class="form-control form-control-lg" name="bill_description" id="bill_description" placeholder="(ex: AT&T contract expires Oct 2018)"></textarea>
					</div>
				</div>

				<!-- Bill Amount -->
				<div class="form-group row">
					<label class="col-md-4 col-form-label req" for="bill_amount">Amount: $</label>
					<div class="col-xl">
						<input class="form-control" name="bill_amount" id="bill_amount" type="number" min="0.00" max="10000.00" step="any" placeholder="(ex: $132.23)" required>
					</div>
				</div>

				<!-- Bill Auto Withdrawal -->
				<div class="form-group row">
					<label class="col-md-4 col-form-label" for="bill_autoWithdrawal">Does this bill auto-withdraw from your bank account?</label>
					<div class="col-xl">
						<input class="form-control" name="bill_autoWithdrawal" id="bill_autoWithdrawal" type="hidden" value="0"><input type="checkbox" onclick="this.previousSibling.value=1-this.previousSibling.value">
						<!-- <input class="form-control" name="bill_autoWithdrawal" id="bill_autoWithdrawal" type="hidden" value="0"> -->
						<!-- <input class="form-control" name="bill_autoWithdrawal" id="bill_autoWithdrawal" type="checkbox" value="1"> -->
					</div>
				</div>

				<!-- Bill Date -->
				<div class="form-group row">
					<label class="col-md-4 col-form-label req" for="bill_date">When is the next due date for this bill?</label>
					<div class="col-xl">
						<input class="form-control" name="bill_date" id="bill_date" type="date" placeholder="MM/DD/YYYY" required>
					</div>
				</div>

				<!-- Bill Recurral -->
				<div class="form-group row">
					<label class="col-md-4 col-form-label req" for="recur_id">How often is this bill due?</label>
					<div class="col-xl">
						<input class="form-control" name="recur_id" id="recur_id" type="radio" value="0" checked>Annually<br>
						<input class="form-control" name="recur_id" id="recur_id" type="radio" value="1" checked>Bi-annually<br>
						<input class="form-control" name="recur_id" id="recur_id" type="radio" value="2" checked>Quarterly<br>
						<input class="form-control" name="recur_id" id="recur_id" type="radio" value="3" checked required>Monthly<br>
						<input class="form-control" name="recur_id" id="recur_id" type="radio" value="4" checked>Bi-monthly<br>
						<input class="form-control" name="recur_id" id="recur_id" type="radio" value="5" checked>Weekly<br>
						<input class="form-control" name="recur_id" id="recur_id" type="radio" value="6" checked>Custom<br>
					</div>
				</div>

				<!-- Button -->
				<div class="form-group row">
					<label class="col-md-4 col-form-label" for="btnAddBill"></label>
					<div class="col-xl">
						<input class="btn btn-secondary" name="btnAddBill" id="btnAddBill" type="submit" value="Add">
					</div>
				</div>
			</fieldset>
		</form>
	</section>

{% end block %}
