{% extends 'layout.html' %}

{% block body %}
 <h1>Bill</h1>
 {% from 'includes/_formHelpers.html' import render_field %}
 <form method="POST" action="">
   <div class="form-group">
     {{render_field(form.bill_name, class_="form-control")}}
   </div>
   <div class="form-group">
     {{render_field(form.bill_description, class_="form-control")}}
   </div>
   <div class="form-group">
     {{render_field(form.bill_amount, class_="form-control")}}
   </div>
   <div class="form-group">
     {{render_field(form.bill_autoWithdrawal, class_="form-control")}}
   </div>
   <div class="form-group">
     {{render_field(form.bill_date, class_="form-control")}}
   </div>
   <p><input type="submit" class="btn btn-primary" value="Submit"</p>
 </form>
{% endblock %}
