{% extends 'layout.html' %}

{% block body %}
  <h1>Dashboard <small>Welcome {{session.user_email}}</small></h1>
  {% if hasBankData == False %}
  <a class="btn btn-secondary" href="/addBank">Add Bank</a>
  {% endif %}
  <hr>
  <div class="container">
    {% for bank in bank_dict %}
    <div id="bankSection{{ bank.bank_id }}" class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Bank Information<span id="bankNumber{{ bank.bank_id }}"></span> </h3>
      </div>
      <div class="panel-body">
        <div class="form-inline">
          <div class="form-group">
            <label for="currentInput{{ bank.bank_id }}">Current Amount $</label>
            <input type="number" class="form-control" min="0.00" step="0.01" id="currentInput{{ bank.bank_id }}" value="{{ bank.bank_currentAmount }}">
          </div>
          <div class="form-group">
            <label for="payDayInput{{ bank.bank_id }}">PayDay Amount $</label>
            <input type="number" class="form-control" min="0.00" step="0.01" id="payDayInput{{ bank.bank_id }}" value="{{ bank.bank_payDayAmount }}">
          </div>
          <div class="form-group">
            <label for="nextPayDateInput{{ bank.bank_id }}">Next Pay Day</label>
            <input type="date" class="form-control" id="nextPayDateInput{{ bank.bank_id }}" value="{{ bank.bank_nextPayDate.date() }}">
          </div>
          <button class="btn btn-primary updateButton" bank_id="{{ bank.bank_id }}">Update</button>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <hr>

  <div class="table-responsive">
    <table class="testClass table table-hover table-striped table-sm">
      <thead class="thead-dark">
        <tr>
          <th>Name</th>
          <th>Amount</th>
          <th>Date Due</th>
          <!-- <th>Auto</th> -->
          <th>Paid?</th>
          <!-- <th>Description</th> -->
          <th>Remaining $</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      {% for bill in bill_dict %}

        <tr class="bill-rows" id="rowID{{ bill.bill_id }}" bill_id="{{ bill.bill_id }}">
          <td>{{bill.bill_name}}</td>
          <td>${{bill.bill_amount}}</td>
          <td>{{bill.bill_date}}</td>
          <!-- <td>{{bill.bill_autoWithdrawal}}</td> -->

          <form action="/billsPaidCheckboxes" method="POST">
            <td><input type="checkbox" bill_id="{{ bill.bill_id }}" class="testCheckbox" name="hasBeenPaid" id="has_been_paid{{ bill.bill_id }}"/></td>
              <!-- <td>{{bill.bill_paid}}</td> -->
          </form>

          <!-- <td><input type="checkbox" class="testCheckbox" name="hasBeenPaid" id="has_been_paid"/></td> -->


          <!-- <td bill_id="{{ bill.bill_id }}" id="billDesc{{ bill.bill_id }}" style="visibility:hidden;">{{bill.bill_description}}</td> -->


          <td>${{bill.bill_runningTotal}}</td>
          <td></td>
          <td><a href="editBill/{{ bill.bill_id }}" class="btn btn-secondary float-right btn-sm">Edit</a></td>
          <td>
            <form method="POST" action="{{url_for('deleteBill', id=bill.bill_id)}}">
              <input type="hidden" name="_method" va`lue="DELETE">
              <input type="submit" value="Delete" class="btn btn-danger btn-sm">
            </form>
          </td>
        </tr>

        <tr>
          <td>
            <p bill_id="{{ bill.bill_id }}" id="billDesc{{ bill.bill_id }}" colspan="8" width="25%">{{bill.bill_description}}</p>
          </td>
        </tr>

      {% endfor %}

    </table>
    <a class="btn btn-success" href="/addBill">Add Bill</a>
    <!-- <button class="btn btn-secondary saveCheckboxButton">Save</button> -->
  </div>

{% endblock %}
