{% extends 'layout.html' %}

{% block body %}
  <h1>Dashboard <small>Welcome {{session.user_email}}</small></h1>
  <a class="btn btn-success" href="/addBill">Add Bill</a>
  <!-- <a class="btn btn-secondary" href="/bankInfo">Edit Bank Info</a> -->
  <a href="bankInfo/{{bank_dict.bank_id}}" class="btn btn-secondary">Edit Bank Info</a>

  <hr>

  <div class="container">
    {% for bank in bank_dict %}
    <div id="bankSection{{ bank.bank_id }}" class="panel panel-default">
      <div class="panel-heading">
        <!-- <h3 class="panel-title">Bank Information<span id="bankNumber{{ bank.bank_id }}">{{ bank.bank_id }}</span> </h3> -->
        <h3 class="panel-title">Bank Information<span id="bankNumber{{ bank.bank_id }}"></span> </h3>
      </div>

      <div class="panel-body">
        <div class="form-inline">

          <div class="form-group">
            <label for="currentInput{{ bank.bank_id }}">Current Amount $</label>
            <!-- <input type="text" class="form-control" id="currentInput{{ bank.bank_id }}" value="{{ bank.bank_currentAmount }}"> -->
            <input type="number" class="form-control" min="0.00" step="0.01" id="currentInput{{ bank.bank_id }}" value="{{ bank.bank_currentAmount }}">
          </div>

          <div class="form-group">
            <label for="payDayInput{{ bank.bank_id }}">PayDay Amount $</label>
            <!-- <input type="text" class="form-control" id="payDayInput{{ bank.bank_id }}" value="{{ bank.bank_payDayAmount }}"> -->
            <input type="number" class="form-control" min="0.00" step="0.01" id="payDayInput{{ bank.bank_id }}" value="{{ bank.bank_payDayAmount }}">
          </div>

          <button class="btn btn-primary updateButton" bank_id="{{ bank.bank_id }}">Update</button>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <hr>

  <div class="table-responsive">
    <table class="table table-hover table-striped table-sm">
      <thead class="thead-dark">
        <tr>
          <th>Name</th>
          <th>Amount</th>
          <th>Date Due</th>
          <th>Auto</th>
          <th>Paid?</th>
          <th>Description</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      {% for bill in bill_dict %}
        <tr>
          <td>{{bill.bill_name}}</td>
          <td>${{bill.bill_amount}}</td>
          <td>{{bill.bill_date}}</td>
          <td>{{bill.bill_autoWithdrawal}}</td>
          <td>{{bill.bill_paid}}</td>
          <td>{{bill.bill_description}}</td>
          <td></td>
          <td></td>
          <td><a href="editBill/{{bill.bill_id}}" class="btn btn-secondary float-right btn-sm">Edit</a></td>
          <td>
            <form method="POST" action="{{url_for('deleteBill', id=bill.bill_id)}}">
              <input type="hidden" name="_method" value="DELETE">
              <input type="submit" value="Delete" class="btn btn-danger btn-sm">
            </form>
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>

{% endblock %}
