<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"><!-- Ensure proper rendering/zooming for mobile -->
	<title>BillDueDate</title>
	<meta name="description" content="BillDueDate">
	<meta name="author" content="Michael harris">
  
	<!-- <link rel="stylesheet" href="static/css/base.css"> -->
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"><!-- Latest compiled and minified CSS -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script><!-- jQuery library -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script><!-- Popper JS -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script><!-- Latest compiled JavaScript -->
	
</head>

<body>
	<div class="container"><!-- Container class is required for bootstrap (or Container-fluid) -->	
		<div class="header">
			<nav>
				<li role="presentation" id="active-nav"><a href="#">Home</a>
				</li>
				<li role="presentation"><a href="showSignIn">Sign In</a>
				</li>
			</nav>
		
		<div>
		
		<h2>BillDueDate</h2>
		<p>When are your bills due?</p>
		<div class="table-responsive">
			<table class="table table-striped table-bordered table-hover">
				<thead class="thead-dark">
					<tr>
						<th>Bill Name</th>
						<th>Date</th>
						<th>Amount</th>
						<th>Paid?</th>
						<th>Description</th>
						<th>Remaining</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Fed Loan</td>
						<td>06/01/2018</td>
						<td>$199.70</td>
						<td>Y (Auto)</td>
						<td>IBR</td>
						<td>$1000.00</td>
					</tr>
					<tr>
						<td>ATT</td>
						<td>06/07/2018</td>
						<td>$128.44</td>
						<td></td>
						<td></td>
						<td>$852.23</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
	<footer class="footer">
		<p>&copy; Harris 2018</p>
	</footer>
</body>
</html>