<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">

	<title>BillDueDate</title>
	<meta name="description" content="BillDueDate">
	<meta name="author" content="Michael harris">
	
	<!-- <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"> -->
	<link href="static/css/base.css" role="stylesheet">
	
</head>

<body>

	<div class="header">
		<nav>
			<li role="presentation" id="active-nav"><a href="#">Home</a>
			</li>
			<li role="presentation"><a href="showSignIn">Sign In</a>
			</li>
		</nav>
	
	<div>

	<div id="main-table">
		<table>
			<tr>
				<th>Bill Name</th>
				<th>Date</th>
				<th>Amount</th>
				<th>Paid?</th>
				<th>Description</th>
				<th>Remaining</th>
			</tr>
			<tr>
				<th>Fed Loan</th>
				<th>06/01/2018</th>
				<th>$199.70</th>
				<th>Y (Auto)</th>
				<th>IBR</th>
				<th>$1000.00</th>
			</tr>
		</table>
	</div>
	
	<footer class="footer">
		<p>&copy; Harris 2018</p>
	</footer>
</body>
</html>