<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Ensure proper rendering/zooming for mobile -->
  	<title>BillDueDate</title>
  	<meta name="description" content="BillDueDate">
  	<meta name="author" content="Michael harris">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
  </head>

  <body>
    {% include 'includes/_navbar.html' %}
    <div class="container">
      {% block body %}{% endblock %}

      {% include 'includes/_dummyTable.html' %}
      <footer class="footer">
        <p>&copy; Harris 2018</p>
      </footer>
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  </body>

</html>
