{% extends 'layout.html' %}

{% block body %}

	<div class="jumbotron text-center">
		<h2>BillDueDate</h2>

		<form class="form-logIn" action="/logIn" method="POST">
			<label for="inputEmail" class="sr-only">Email address</label><!-- sr-only means only show for screen readers -->
			<input class="form-control" name="inputEmail" id="inputEmail" type="email" placeholder="Email address" required autofocus>
			<label for="inputPassword" class="sr-only">Password</label>
			<input class="form-control" name="inputPassword" id="inputPassword" type="password" placeholder="Password" required>

			<button class="btn btn-lg btn-secondary btn-block" id="btnLogIn" type="submit">Log In</button>
		</form>
	</div>

	<script src="static/js/logIn.js"></script>

{% endblock %}
