{% extends 'layout.html' %}

{% block body %}

	<div class="jumbotron text-center">
		<h2>BillDueDate</h2>

		<form action="" method="POST">
			<label for="inputEmail" class="sr-only">Email address</label><!-- sr-only means only show for screen readers -->
			<input class="form-control" name="inputEmail" id="inputEmail" type="email"  placeholder="Email address" required autofocus>
			<label for="inputPassword" class="sr-only">Password</label>
			<input class="form-control" name="inputPassword" id="inputPassword" type="password" placeholder="Password" required>

			<!-- <button class="btn btn-lg btn-primary btn-block" id="btnSignUp" type="button">Sign up</button> -->
			<button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
		</form>
	</div>

	<!-- <script src="static/js/signUp.js"></script> -->

{% endblock %}
