{% extends 'layout.html' %}

{% block body %}

	<div class="jumbotron">
		<h2>BillDueDate</h2>
		<p>USER HOME</p>
	</div>

	<div class="table-responsive">
		<table class="table table-striped table-bordered table-hover">
			{% for stuff in bill_dict %}
				{% for key, value in stuff.items() %}
				<thead class="thead-dark">
					<tr>
						<th>{{key}}</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>{{value}}</td>
					</tr>
				</thead>
				{% endfor %}
			{% endfor %}
		</table>
	</div>

{% end block %}
